<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://adthol-iloh.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/8a7c9971-09be-42d5-bfb5-9c343c2adb30/resourceGroups/ADTHOLGroup/providers/Microsoft.Web/sites/adthol-iloh</ResourceId>
    <UserName>$adthol-iloh</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://adthol-iloh.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>